// Basic styling edits that should apply to Element UI framework
#app {
  // Checkbox Styles
  .el-checkbox__inner {
    border-radius: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $dove-gray;
    background-color: $alabaster;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $dove-gray;
  }
  .el-checkbox__inner::after {
    border: 1px solid $dove-gray;
    border-left: 0;
    border-top: 0;
    height: 13px;
    left: 7px;
  }
  .el-checkbox {
    font-weight: 300;
  }
  // Dropdown Styles
  .el-input__inner {
    border: 1px solid $gray-nurse;
    border-radius: 0;
  }
  .el-form-item.is-error .el-input__inner,
  .el-form-item.is-error .el-input__inner:focus,
  .el-form-item.is-error .el-textarea__inner,
  .el-form-item.is-error .el-textarea__inner:focus,
  .el-message-box__input input.invalid,
  .el-message-box__input input.invalid:focus {
    border-color: #f56c6c;
  }
  .el-icon-arrow-up:before {
    color: $black;
  }
  // Toggle Styles
  .el-switch.is-checked .el-switch__core {
    border-color: $tree-poppy;
    background-color: $tree-poppy;
  }
}
.el-select-dropdown {
  .el-select-dropdown__item.selected {
    color: $black;
    font-weight: 400;
  }
}
