@import './variables.scss';
@import './typography.scss';

.button {
  color: $tree-poppy;
  border: 1px solid $tree-poppy;
  border-radius: 15px;
  width: 150px;
  padding: 5px;
  font-size: 0.8em;
  cursor: pointer;
  background: transparent;
  &:hover {
    background: $tree-poppy;
    color: $white;
  }
}

.fa-info {
  color: $tree-poppy;
  border: 1px solid $tree-poppy;
  padding: 5px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: $tree-poppy;
    color: $white;
  }
}

.modal-container {
  border: 1px solid $gray-nurse;
  padding: 2em;
  background: $white;
  border-radius: 10px;
}

.v--modal-overlay {
  background:rgba(255,255,255, 0.5) !important;
}
