.el-form-item {
  .select-modal {
    width: 100%;
  }
  &.save-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    .el-form-item__content {
      margin: 0 !important;
    }
  }
}
.form-label-no-select {
  display: inline-block;
  width: 150px;
  margin-bottom: 1em;
}

.date-picker-container {
  display: flex;
  justify-content: space-between;
  .date-picker-item {
    width: 48%;
    .date-picker {
      width: 100%;
    }
  }
}