#app {
  .el-table {
    width: 100%;
    color: $dove-gray;
    font-size: 13px;
    thead tr th {
      padding: 5px 0 0 0;
    }
    th > .cell {
      color: $black;
      font-weight: 400;
    }
    th {
      background-color: $gallery;
    }
    .ascending .sort-caret.ascending {
      border-bottom-color: $gray;
    }
    .descending .sort-caret.descending {
      border-top-color: $gray;
    }
    td,
    th.is-leaf {
      border-bottom: 1px solid $gallery;
    }
    .expanded > td {
      border-bottom: none;
    }
    .el-table__footer-wrapper tbody td {
      background-color: $gallery;
      color: $black;
      font-weight: 500;
    }
  }
  .table-toggle-icon {
    cursor: pointer;
    color: $tree-poppy;
  }
  .fa-pencil-alt,
  .fa-trash-alt,
  .fa-copy,
  .fa-star {
    cursor: pointer;
  }
  .fa-copy {
    font-size: 20px;
  }
  .icon-spacer {
    margin-right: 1em;
  }
  .el-table__expand-icon > .el-icon-arrow-right {
    color: $tree-poppy;
    font-size: 1.2em;
    font-weight: 700;
  }
  .level-two-table {
    border: 1px solid $gallery;
    td {
      border: none;
    }
    th {
      background: $alabaster;
    }
    .cell {
      padding: 0 20px;
    }
  }
  .level-three-table {
    border: 1px solid $gallery;
    td {
      border: none;
    }
    th,
    td {
      background: $alabaster;
    }
    .cell {
      padding: 0 20px;
    }
  }
  .table-spacer {
    margin-top: 5em;
  }
}
