#app {
  .el-table {
    color: $dove-gray;
    thead tr th {
      padding: 5px 0;
    }
    th>.cell {
      color: $black;
    }
    .cell {
      color: $dove-gray;
    }
    .table-header-cell {
      background-color: $gallery;
      color: $black;
      font-weight: 500;
    }
    .ascending .sort-caret.ascending {
      border-bottom-color: $black;
    }
    .descending .sort-caret.descending {
      border-top-color: $black;
    }
  }
  .el-table__expand-icon > .el-icon-arrow-right {
    display: none;
  }
  .table-toggle-icon {
    cursor: pointer;
    color: $tree-poppy;
  }
  .edit-project-container {
    display: flex;
    justify-content: space-between;
  }
  .fa-pencil-alt,
  .fa-trash-alt,
  .fa-star {
    cursor: pointer;
  }
}
