.section-header {
  font-weight: 600;
  text-transform: uppercase;
  color: $black;
}
.title {
  font-weight: 400;
  color: $black;
  font-size: 1.2rem;
}
.sub-content {
  font-size: 13px;
  line-height: 17px;
}
.title-row {
  margin-bottom: 1em;
  &.space-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.delete-modal-text {
  text-align: center;
}
.delete-modal-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  .button {
    margin: 0 5px;
  }
}
