$alabaster: #f9f8f8;
$black: #000;
$black-haze: #eceded;
$botticelli: #CDE9E8;
$dove-gray: #666;
$dusty-gray: #9B9B9B;
$ebb: #F3F0F0;
$gallery: #eeecec;
$gray: #888888;
$gray-nurse: #dee1df;
$monza: #D0021B;
$tradewind: #5AB7B2;
$tree-poppy: #ff9e16;
$white: #fff;
$wild-willow: #A1D071;
