$alabaster: #f9f8f8;
$black: #000;
$black-haze: #eceded;
$dove-gray: #666;
$gallery: #eeecec;
$gray: #888888;
$gray-nurse: #dee1df;
$monza: #ca001a;
$tradewind: #4baaa3;
$tree-poppy: #ff9e16;
$white: #fff;
