$tree-poppy: #FF9E16;
$tradewind: #4baaa3;
$white: #FFF;
$black: #000;
$gray-nurse: #dee1df;

button {
  color: $tree-poppy;
  border: 1px solid $tree-poppy;
  border-radius: 15px;
  width: 150px;
  padding: 5px;
  font-size: .8em;
  cursor: pointer;
  &:hover {
    background: $tree-poppy;
    color: $white;
  }
}

.fa-info {
  color: $tree-poppy;
  border: 1px solid $tree-poppy;
  padding: 5px;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: $tree-poppy;
    color: $white;
  }
}