@import '@/styles/global.scss';

.rule-container {
  padding: 0.5em 0.5em;
  border-top: 1px solid #eeecec;
  position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
}

.rule-title {
  font-weight: 350;
  color: $black;
  font-size: 1em;
}

.edit-rule {
  position: absolute;
  right: 0;
  top: 20%;
}

.save-rule {
  position: absolute;
  right: 0;
  top: 10%;
  width: 75px;
}

.rule-tags {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;

  .el-tag {
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

//DatePicker Styling. Ticketing Dates, Travel Dates,

.control-row {
  display: flex;
  width: 75%;
  align-items: center;

  .date-picker {
    margin-right: 1em;
  }

  .el-select {
    width: 50%;
  }

  button {
    margin-left: 10px;
    max-height: 2.5em;
    width: 75px;
  }
}
