@import '@/styles/global.scss';

.rule-container {
  padding: 1em 0.5em;
  border-top: 1px solid #eeecec;
  position: relative;
}

.rule-title {
  font-weight: 350;
  color: $black;
  font-size: 1em;
}

.edit-rule {
  position: absolute;
  right: 0;
  top: 20%;
}

.save-rule {
  position: absolute;
  right: 0;
  top: 10%;
  color: #ff9e16;
  border: 1px solid #ff9e16;
  border-radius: 10px;
  padding: .5em 1em;
  font-size: 0.8em;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
}

.rule-tags {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  align-items: center;

  .el-tag {
    margin-right: 1em;
    margin-top: 1em;
  }

  label {
    margin-right: 1em;
  }

}

    .bulk-save-container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3em;
    }

    .save-rule-bulk{
    color: #ff9e16;
    border: 1px solid #ff9e16;
    border-radius: 10px;
    padding: .5em 1em;
    font-size: 0.8em;
    cursor: pointer;
    background: transparent;
    text-transform: uppercase;
    }

//DatePicker Styling. Ticketing Dates, Travel Dates,

.control-row {
  display: flex;
  align-items: center;
  margin-top: 1em;

  .date-picker {
    margin-right: 2em;
  }

  .el-select {
    width:25%;
    margin-right: 2em;
  }

  .el-date-editor--time{
    max-width:20%;
    margin-right: 2em;
  }

  .number-input {
    width:15%;
    margin-right: 2em;
  }

  .el-checkbox{
    margin-right: 2em;
  }

  button {
  color: #ff9e16;
  border: 1px solid #ff9e16;
  border-radius: 10px;
  padding: .5em 1em;
  font-size: 0.8em;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  }

  label {
    margin-right: .5em;
  }


}
